.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1200px) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .posts {
    display: flex;
    flex-direction: column;
  }
}
