.postpage {
  width: 100%;
  height: 100%;

  h1,
  h2,
  h3,
  ol,
  li {
    margin: 10px 10px;
  }
  h1 {
    color: var(--primary);
  }

  pre {
    color: white;
    width: 100%;

    overflow: scroll;
    padding: 5px;
    background-color: var(--background-2);
    border: var(--border);
    border-radius: var(--border-radius);
  }
}

@media (max-width: 500px) {
  .postpage {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 28px;
    }
  }
}
